*{
  padding: 0;
  margin: 0;
}

input, button{
  display: block;
  margin: 5px;
}
form{
  height: 250px;
  width: 250px;
  box-shadow: 5px 10px black;
}


.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}